* {
  margin: 0;
  padding: 0;
} 

/* ------------------------- INTRO ------------------------- */

#intro{ 
  background: url("/images/pexels-francesco-ungaro-998641.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100svw; /*?*/
  height: 100svh; /*?*/
  background-position: center;
  display: table;
}

.s-intro{
  text-align: center;
  position: relative;
}

.s-intro-title, .s-intro-desc{
  font-family: 'Kanit', sans-serif;
  color: white;
  position: absolute;
  top: 280px ;

    text-shadow:
      -1px -1px 0 #1f4c65,
      1px -1px 0 #1f4c65,
      -1px 1px 0 #1f4c65,
      1px 1px 0 #1f4c65;
}

.s-intro-title{
  position: absolute;
  top: 280px ;
  font-size: 72px;
  position: relative;
  
}

.s-intro-desc{
  top: 400px ;
  font-size: 50px;
  text-align: center;
  justify-content: center;
}


.s-intro-scroll-down{
  margin-top: 100px;
}

.s-intro-explore{
  position: absolute;
  bottom: 0;
  
  border-style: solid;
  border-width: 1px;
  padding: 1px 14px;
  font-size: 26px;
  color: lightgray;
  text-decoration: none;
}

.s-intro-social-buttons-display{
  border: solid white;
  position: absolute;
  bottom: 0;
  justify-content: center;
  margin: auto;
}

.s-intro-social-github,
.s-intro-social-linkedin,
.s-intro-social-email{
  color: white;
  height: 50px;
  text-decoration: none;
  border:none;
}

.s-intro-social-github,
.s-intro-social-email{
  padding-left: 30px;
}

.s-intro-social-github:hover,
.s-intro-social-linkedin:hover, 
.s-intro-social-email:hover{
  color: purple;
  height: 50px;
}
/* ------------------------- ABOUT ------------------------- */

.s-about{
  height: 1000px;
}

.s-about-header, 
.s-about-subheader{
  color: black;
  text-align: center
}

.s-about-header{
  font-size: 20px;
  padding-top: 40px;
}

.s-about-subheader{
  font-size: 30px;
  background-color: aquamarine;
}

.s-about-profile{
  display: flex;
  flex-direction: row;
  height: 900px;
}


.s-about-left{
  background-color: lightblue;
  flex: 25%;
}

.s-about-right{
  background-color: lightblue;
  flex: 25%;
}

.s-about-center{
  background-color: lightgrey;
  flex: 50%;
}

.s-about-center-intro{
  display: flex;
  padding-top: 30px;
}

.s-about-pfp{
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 50%;
}

.s-about-name{
  background-color: green;
  display: inline-block;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  align-self: center
}


.s-about-centre-content{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 30px;
  background-color: blanchedalmond;
  justify-content: center;

}

.s-about-centre-col-left{
  background-color: black;
  flex: 50%;
  height: 250px ;
  
}

.s-about-centre-col-right{
  background-color: white;
  flex: 50%;
  height: 250px ;
}


/* ------------------------- RESUME ------------------------- */

.s-resume-timeline{
  background-color: lightslategray;
  margin: 0 auto;
  max-width: 1000px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  color: black;
  
}

.timeline-middle{
  background-color: black;
  position: relative;
  width: 1px;
}

.timeline-point img {
  position: absolute;
  background-color: black;
  height: 45px;
  width: 45px;
  top: 0;
  transform: translateX(-50%);
}

.timeline-point-bottom{
  top: initial;
  bottom: 0;
}

.timeline-right{
  padding-left: 40px;
  margin-bottom: 50px;
}
.timeline-left{
  padding-left: 40px;
}

.timeline-right h3{
  margin-bottom: 8px;
}

.timeline-right p {
  line-height: 20px;
}

.timeline-left h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.timeline-left h2 {
  font-size: 14px;
}

.line{
  background-color: black;
  height: 2px;
  width: 100px;
  margin-bottom: 8px;
}