* {
  margin: 0;
  padding: 0;
} 

/* ------------------------- INTRO ------------------------- */

#intro{ 
  background-image: url("/images/pexels-francesco-ungaro-998641.jpg");
  background-size: cover;
  width: 100svw;
  height: 100svh;
  background-position: center;
  background-attachment: fixed;
  display: table;
  text-align: center;
}

.s-intro{
  text-align: center;
}

.s-intro-title, .s-intro-desc{
  font-family: 'Kanit', sans-serif;
  color: white;

    text-shadow:
      -1px -1px 0 #1f4c65,
      1px -1px 0 #1f4c65,
      -1px 1px 0 #1f4c65,
      1px 1px 0 #1f4c65;
}

.s-intro-title{
  margin-top: 280px ;
  font-size: 72px;
  position: relative;
  
}

.s-intro-desc{
  font-size: 50px;
}


.s-intro-scroll-down{
  margin-top: 100px;
}

.s-intro-explore{
  margin-top: 3000px;
  border-style: solid;
  border-width: 1px;
  padding: 2px 12px;
  font-size: 26px;
  color: lightgray;
  text-decoration: none;
}



/* ------------------------- INTRO ------------------------- */









.s-about{
  height: 3000px;

}

