* {
  margin: 0;
  padding: 0;
} 

/* ------------------------- INTRO ------------------------- */

#intro{ 
  background: url("/images/pexels-francesco-ungaro-998641.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100svw; /*?*/
  height: 100svh; /*?*/
  background-position: center;
  display: table;
  text-align: center;
}

.s-intro{
  text-align: center;
}



.s-intro-title, .s-intro-desc{
  font-family: 'Kanit', sans-serif;
  color: white;

    text-shadow:
      -1px -1px 0 #1f4c65,
      1px -1px 0 #1f4c65,
      -1px 1px 0 #1f4c65,
      1px 1px 0 #1f4c65;
}

.s-intro-title{
  margin-top: 280px ;
  font-size: 72px;
  position: relative;
  
}

.s-intro-desc{
  font-size: 50px;
}


.s-intro-scroll-down{
  margin-top: 100px;
}

.s-intro-explore{
  margin-top: 3000px;
  border-style: solid;
  border-width: 1px;
  padding: 2px 12px;
  font-size: 26px;
  color: lightgray;
  text-decoration: none;
}


/* ------------------------- ABOUT ------------------------- */

.s-about{
  height: 1000px;
}

.s-about-header, 
.s-about-subheader{
  color: black;
  text-align: center

}

.s-about-header{
  font-size: 20px;
  padding-top: 40px;
}

.s-about-subheader{
  font-size: 30px;
  background-color: aquamarine;
}

.s-about-profile{
  display: flex;
  flex-direction: row;
  height: 900px;
}


.s-about-left{
  background-color: lightblue;
  flex: 25%;
}

.s-about-right{
  background-color: lightblue;
  flex: 25%;
}

.s-about-center{
  background-color: lightgrey;
  flex: 50%;
}

.s-about-center-intro{
  display: flex;
  padding-top: 30px;
}

.s-about-pfp{
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 50%;
}

.s-about-name{
  background-color: green;
  display: inline-block;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  align-self: center
}


.s-about-centre-content{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 30px;
  background-color: blanchedalmond;
  justify-content: center;

}

.s-about-centre-col-left{
  background-color: black;
  flex: 50%;
  height: 250px ;
  
}

.s-about-centre-col-right{
  background-color: white;
  flex: 50%;
  height: 250px ;
}

.s-linkedin{
  color: wheat;
  margin-top: 50px;
  cursor: pointer;
}